@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-800
    text-gray-200
    m-4;
  }

  .form-container {
    @apply w-full flex justify-center mt-16;
  }

  .form-border {
    @apply border-2 p-2;
  }

  .form-label {
    @apply text-2xl border-b-2 inline;
  }

  button {
    @apply bg-gray-200
    text-gray-800
    px-2
    my-[4px]
    h-[2em]
    w-[150px]
    sm:w-[200px]
    text-xs
    sm:text-base
    rounded
    hover:bg-gray-300;
  }
  .submit-button {
    @apply cursor-pointer
    bg-gray-200
    text-gray-800
    px-2
    ml-0
    my-[4px]
    h-[2em]
    w-[150px]
    sm:w-[200px]
    text-xs
    sm:text-base
    rounded
    hover:bg-gray-300;
  }
  .records {
    @apply cursor-pointer
    hover:text-gray-300;
  }
  .section-label {
    @apply font-bold
    border-b-[1px]
    inline;
  }
  input {
    @apply bg-gray-200
    text-gray-800
    m-2;
  }
  textarea {
    @apply bg-gray-200
    text-gray-800
    m-2
    mx-0;
  }
}
